<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="planet"></ion-icon>
      <ion-label>Trip</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab">
        <ion-icon name="Person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
