<ion-header no-border >
  <ion-toolbar style="padding-top: 5%;"> 
      <ion-buttons slot="start">
        <ion-back-button
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>

      <ion-title>
        <img [src]="logoRetina" width=40%>
      </ion-title>              
  </ion-toolbar>
</ion-header>

<ion-content >
  <h3 class="ion-text-center">Fun Trips</h3>
  <ion-card style="background: white;">
    <ion-card-header no-padding>
      <div style="width:100%;text-align: center;align-content: center;align-self: center;">
        <img src="https://cdn.pixabay.com/photo/2018/11/03/17/55/dubai-3792517__340.jpg">
      </div>
    </ion-card-header>

    <ion-card-content style="padding: 7px; ">
      <ion-card-title style="font-size: 17px;">3 Nights summer weekend in Burj Al-Khalifa</ion-card-title>
      <ion-card-subtitle style="--color:#10AC0D; font-size: 14px;">₦650,000</ion-card-subtitle>
            
      
      <ion-item lines="none" no-padding style="--background: none;">                                   
        <ion-badge slot="start" color="warning"style="--color:black;"> 7th July, 2019     </ion-badge>              
        <!-- <div class="image" style="--float: right;"> -->
          <ion-img slot="end"  src="https://libertytourism.ng/wp-content/uploads/2017/07/libertytours.png" style="width: 70%; float:right;"></ion-img>          
        <!-- </div> -->
        </ion-item>  
      
      <!-- <ion-item>
        <ion-thumbnail slot="end">
          <img src="https://libertytourism.ng/wp-content/uploads/2017/07/libertytours.png">
        </ion-thumbnail>
        <ion-label><ion-badge  color="warning"style="--color:black;"> 7th July, 2019     </ion-badge>   </ion-label>
      </ion-item> -->
    </ion-card-content>
  </ion-card>
     
</ion-content>
