.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.bgimage{   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  --color: white;
  // height: 120px;

}
.tripcontent{
font-weight: 600;
// margin-top: 22px;
}