<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button  color="light" defaultHref="tabs/tab1" icon="md-arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
        Wallet
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
          <ion-icon size="large" color="light" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alakija</ion-card-subtitle>
      <ion-card-title>₦500000</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Current Balance
    </ion-card-content>
  </ion-card>
  <ion-text>
    <h2 style="font-size: 14px; font-weight:800; ">Transaction history</h2>
    </ion-text>
    <ion-item lines="none" style="--background: white; margin-bottom: 10px">
        <ion-label>
          <p style="color:black; font-weight:800"  slot="start">Ade</p>
          <p slot="end">Olu</p>
        </ion-label>
        <ion-label>
            <p style="color: #10ac0D;" class=ion-text-end slot="start">Ade</p>
            <p class="ion-text-end" slot="end">Olu</p>
          </ion-label>
      </ion-item>
      <ion-item lines="none" style="--background: white; margin-bottom: 10px">
          <ion-label>
            <p style="color:black; font-weight:800" slot="start">Ade</p>
            <p slot="end">Olu</p>
          </ion-label>
          <ion-label>
              <p style="color:#10ac0D;" class= ion-text-end slot="start">Ade</p>
              <p class="ion-text-end" slot="end">Olu</p>
            </ion-label>
        </ion-item>
</ion-content>
