<ion-header no-border >
  <ion-toolbar> 
      <ion-buttons slot="start">
          <ion-button (click)="onClick()">
            <ion-icon slot="start" name="search" size="large"></ion-icon>
            
          </ion-button>
        </ion-buttons>  
    <ion-title>TripAlat</ion-title>               
  </ion-toolbar>
</ion-header>

<!-- codes for the content -->
<ion-content >
  <ion-card >
    <ion-card-header style="  background-color:#1976d2;">
      <ion-card-subtitle class="ion-text-center" style="--color: white;">Total Amount</ion-card-subtitle>
      <ion-card-title class="ion-text-center" style="--color: white;">₦500,000</ion-card-title>
      <ion-item lines="none" style="--background: none;">
          <ion-avatar slot="end">
              <img src="https://media.licdn.com/dms/image/C4D03AQE4C9_jcsQ_7Q/profile-displayphoto-shrink_200_200/0?e=1576713600&v=beta&t=CPsSqNnS_7HGnWFqU9u1ijTM3pAoyfoqGajn9zcUhq4">
          </ion-avatar>
          <ion-label  style="--color: white;">Hello Ibrahim</ion-label>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content style="padding: 4px;">
      <ion-grid>
        <ion-row style="--color: white;">
          <ion-col class="ion-text-center"> <ion-text><h3 style="font-size:9px; font-weight: 600;">Savings</h3> 
            <h2 style="font-weight:800;"> ₦200,000</h2></ion-text>
          </ion-col>
          <ion-col class="ion-text-center"> <ion-text><h3 style="font-size:9px; font-weight:600;">Expenses</h3>
            <h2 style="font-weight:800;">₦300,000</h2></ion-text>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-card-content>
  </ion-card>

  <h4 class="ion-text-center" style="font-weight:800;">Find Tours</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="6" >
          <ion-card  class="bgimage mode-md" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.443), rgba(0, 0, 0, 0.443)), url('https://cdn.pixabay.com/photo/2019/09/04/02/52/road-4450611__340.jpg') no-repeat center center fixed;">
            <ion-card-content class="tripcontent ion-text-center">
             Fun
            </ion-card-content>
          </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card  class="bgimage mode-md"style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.443), rgba(0, 0, 0, 0.443)), url('https://image.shutterstock.com/image-photo/   education-school-student-computer-network-260nw-398042842.jpg') no-repeat center fixed;" >                     <ion-card-content class="tripcontent ion-text-center">
                  Education
            </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card class="bgimage mode-md"style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.443), rgba(0, 0, 0, 0.443)), url('https://cdn.pixabay.com/photo/2016/02/19/11/23/women-1209678__340.jpg')no-repeat center fixed;">
              <ion-card-content class="tripcontent ion-text-center">
                 Business
              </ion-card-content>
            </ion-card>
      </ion-col> 
      
      <ion-col size="6">
        <ion-card class="bgimage mode-md"style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.443), rgba(0, 0, 0, 0.443)), url('https://cdn.pixabay.com/photo/2019/09/23/14/34/nyc-4498752__340.jpg')no-repeat center fixed;">
              <ion-card-content class="tripcontent ion-text-center">
                Relocation
            </ion-card-content>
          </ion-card>
      </ion-col>  
    </ion-row>      
  </ion-grid>    
</ion-content>

<!-- Codes for the footer -->
<ion-footer>
  <ion-segment >
    <ion-segment-button checked>
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-segment-button>

    <ion-segment-button >
      <ion-icon name="car"></ion-icon>
      <ion-label>Trip</ion-label>
    </ion-segment-button>

    <ion-segment-button>
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-segment-button>

    <ion-segment-button>
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
